

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{
	min-height: 540px;
}

hr { border-color: #CCC -moz-use-text-color -moz-use-text-color }

.push-down-0 { margin-bottom: 0px; }

.push-down-5 { margin-bottom: 5px; }

.push-down-10 { margin-bottom: 10px; }

.push-down-15 { margin-bottom: 15px; }

.push-down-20 { margin-bottom: 20px; }

.push-down-25 { margin-bottom: 25px; }

.push-down-30 { margin-bottom: 30px; }

.push-down-35 { margin-bottom: 35px; }

.push-down-40 { margin-bottom: 40px; }

.push-down-45 { margin-bottom: 45px; }

.push-down-50 { margin-bottom: 50px; }

.push-down-55 { margin-bottom: 55px; }

.push-down-60 { margin-bottom: 60px; }


.fullwidth{
	width:100% !important;
	max-width: 100%;
}

.fullscreen{
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}

.formrow{
	margin-bottom: 30px;
}

.form-cointainer{
	background-color: white; 
	padding: 10px; 
	min-height: 450px;
}

.btn{
	.btn;
	color: #fff !important;
}

.ui-button-text-only .ui-button-text{
	padding: 0 !important;
}

.form-control{
	background-color: white !important;
}

.calendar input[type="text"] { 
	width: 100%;
}