

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{
	--min-height: 540px;
}

hr { border-color: #CCC -moz-use-text-color -moz-use-text-color }

.push-down-0 { margin-bottom: 0px; }

.push-down-5 { margin-bottom: 5px; }

.push-down-10 { margin-bottom: 10px; }

.push-down-15 { margin-bottom: 15px; }

.push-down-20 { margin-bottom: 20px; }

.push-down-25 { margin-bottom: 25px; }

.push-down-30 { margin-bottom: 30px; }

.push-down-35 { margin-bottom: 35px; }

.push-down-40 { margin-bottom: 40px; }

.push-down-45 { margin-bottom: 45px; }

.push-down-50 { margin-bottom: 50px; }

.push-down-55 { margin-bottom: 55px; }

.push-down-60 { margin-bottom: 60px; }

.push-right-10 { margin-left: 10px}

.fullwidth{
	width:100% !important;
	max-width: 100%;
}

.pe-fullwidth input[type="text"]{
	width:100% !important;
	max-width: 100%;
}

.fullscreen{
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}

.formrow{
	margin-bottom: 30px;
}

.form-cointainer{
	background-color: white; 
	padding: 10px; 
	min-height: 450px;
}

.btn{
	.btn;
	color: #fff !important;
}

.ui-button-text-only .ui-button-text{
	padding: 0 !important;
}



.calendar input[type="text"] { 
	width: 100%;
}

.radio-table {
	border-spacing: 5px;
    border-collapse: separate; 
}

.form-control-numeric input[type="text"] {
	width:100% !important;
	max-width: 100%;
	@extend .form-control;
}

@media (min-width: 767px) {
	.caret-right {
		width: 0;
		height: 0;
		border-top: 4px solid rgba(0, 0, 0, 0);
		border-bottom: 4px solid rgba(0, 0, 0, 0);
		border-left: 4px solid #777777;
	}
}